body {
    background-color: #121212;
    font-family: "Lato", sans-serif;
    color: aliceblue;
}
header {
    background-color: #303030;
    color: aliceblue;
    font-size: 30px;
    margin-top: -31px;
    margin-left: -8px;
    margin-right: -8px;
    height: 50px;
    position: relative;
    line-height: 50px;
}
/* not in use */ 
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* not in use */ 
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

h1 {
    text-align: center;
}

#sidebarclick {
    width:20%;
    height:50px;
    float:left;
    font-size:30px;
    cursor:pointer;
    padding-left: 15px;
}

#title {
    text-align: center;
    height: 50px;
    width: 80%;
}

#section {
    transition: margin-left .5s;
    padding:16px;
}

/* whole sidebar css */ 
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #121212;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* sidebar buttons css */ 
.sidenav a, .dropdown-btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a:hover, .dropdown-btn:hover   {
    color: #f1f1f1;
}

.maincontent {
    text-align: center;
    font-size: 18px;
}

code {
    color: white;
    background-color: #606060;
}

/* text css */ 
#release {
    font-size: 10px;
    color: #343434;
}


@media screen and (max-width: 460px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    header {font-size:18px;}
}